<%= simple_form_for(@timeline) do |f| %>
  <% if @timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% @timeline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
    <%= f.label :top_image %><br />
    <%= f.text_field :top_image %>
    <%= f.association :category, collection: Category.all %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
