<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @timeline.name.presence %>
</p>

<p>
  <b>Url:</b>
  <%= @timeline.url.presence %>
</p>

<p>
  <b>Top-image:</b>
  <%= @timeline.top_image.presence %>
</p>

<% if current_user.id == @timeline.user_id %>
  <%= link_to 'Edit', edit_user_timeline_path(@timeline) %>
  <%= link_to 'Destroy', @timeline, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', :back %>
